<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>發表一篇圖文</title>
  </head>
  <body>
    <div class="container">
      <h3>發表一篇圖文</h3>
      <div>
        <label for="textinput">文字內容:</label>
        <input
          type="text"
          class="textinput"
          name="textinput"
          placeholder="選擇一張圖片後送出"
        /><br />
        <label for="fileinput">圖片檔案:</label>
        <input
          type="file"
          class="fileinput"
          name="fileinput"
          accept="image/png, image/jpg"
        />
        <button class="submit-btn" type="submit">送出</button>
      </div>
      <hr />
      <div class="contentsContainer"></div>
      <!-- <div class="submitted-contents"></div> -->
      <!-- <div class="submitted-text"></div>
      <img class="submitted-img"  src="" alt="" /> -->
      <!-- <hr> -->
    </div>
    <script src="../index.js"></script>
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.1297.0.min.js"></script>
  </body>
</html>
